### 1 - Importando as Bibliotecas

In [3]:
import pandas as pd
import basedosdados as bd

### 2 - Carregando o arquivo

In [5]:
df = bd.read_table(dataset_id='br_ms_sim',
table_id='municipio_causa_idade_sexo_raca',
billing_project_id="api-386616",
limit=100000)

Downloading: 100%|█████████████████████████████████████████████████████| 100000/100000 [00:06<00:00, 14286.52rows/s]

### 3 - Tratando os dados

In [38]:
# Deletando coluna de código numérido do UF
df.drop('id_municipio', axis =1, inplace = True)

In [44]:
# Deletando linhas com idades invalidades (valores nullos)
df = df[df['idade'].notnull()]

In [53]:
df['raca_cor'].isnull().sum()

# Deletando a coluna de raca e cor por falta de informações
df.drop('raca_cor', axis =1, inplace = True)

In [58]:
df['ano'].isnull().sum()

0

In [54]:
df

        ano sigla_uf causa_basica  idade sexo  numero_obitos
1      1996       AC         V892     25    1              1
4      1996       AC         A419     71    2              1
5      1996       AC         D649      0    2              1
6      1996       AC         P369      0    2              2
7      1996       AC          R98      0    2              1
...     ...      ...          ...    ...  ...            ...
99995  1996       BA         X599     25    1              1
99996  1996       BA         X599     41    1              1
99997  1996       BA         X599     53    2              1
99998  1996       BA         X599     90    2              1
99999  1996       BA         X709     27    2              1

[98670 rows x 6 columns]

In [ ]:
def busca(uf, )